.App {
  display: flex;
  justify-content: space-between;
  font-family: 'Rowdies', cursive;
}

.gameSpace{
  width: 500px;
  height: 500px;
  position: relative;
  background: #000;
  margin-top: 5%;
  border: 5px solid #000;
  border-radius: 2%;
}

.snake{
  position: absolute;
  height: 20px;
  width: 20px;
  background: #00FF00;
  border-radius: 40%;
}
.gameInfo{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
  width: 400px;
}
.apple{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.rules{
  width: 400px;
  font-size: 26px;
  font-weight: 700;
}

.pause{
  margin-top: 15px;
}
.start{
  font-size: 24px;
  margin-top: 10px;
}

.feed{
  margin-top: 15px;
}

.feed-item{
  display: flex;
  margin-top: 10px;
}

.feed-appearance{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.feed-appearance1{
  background: #FFF01F;
}
.feed-appearance2{
  background: #00FFFF;
}
.feed-appearance3{
  background: #FF0000;
}

.speed{
  margin-top: 15px;
}

